<div>회원가입</div>

<form th:action="@{/member/signup}" method="POST">
    <div>
        <span>유저 아이디</span>
        <input type="text" name="username" placeholder="아이디">
    </div>
    <div>
        <span>유저 비밀번호</span>
        <input type="password" name="password" placeholder="비밀번호">
    </div>
    <div>
        <span>유저 비밀번호 확인</span>
        <input type="password" name="password_confirm" placeholder="비밀번호확인">
    </div>
    <div>
        <span>닉네임</span>
        <input type="text" name="nickname" placeholder="닉네임">
    </div>
    <div>
        <span>이메일</span>
        <input type="email" name="email" placeholder="이메일">
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>